%h1 Words
%table.table
  %thead
    %tr
      %th
        \#
      %th
        Value
      %th
        Language
  %tbody
    - @words.each do |word|
      %tr
        %td
          = word.id
        %td
          = word.value
        %td
          = word.language
