%h1 Words
%table.table
  %thead
    %tr
      %th
        \#
      %th
        Content
      %th
        Language
      %th
        Actions
  %tbody
    - @words.each do |word|
      %tr
        %td
          = word.id
        %td
          = word.content
        %td
          = word.language&.name
        %td
          = link_to('Show', word_path(word), class: 'btn btn-primary')
